@import './mixins.scss';

.cheater {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  z-index: 1;

  &__banner {
    width: 100%;
    height: 100vh;
    max-width: 450px;
    max-height: 270px;

    background-image: url('../public/assets/cheater.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__main_title {
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    padding: 32px 0 16px 0;
  }

  &__title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 1rem;
    line-height: 160%;
    padding: 0 0 12px 0;
  }

  &__content {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width: 35%;
    width: 100%;

    background-color: var(--dark-grey-c);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);

    border-radius: 4px;
    color: var(--dark-grey-c);

    @include tablet {
      margin-top: 20%;
      max-width: 400px;

      left: unset;
      top: unset;
      transform: unset;
    }

    &_wrapper {
      width: 100%;
      height: 100%;
      padding: 24px;

      display: grid;
      gap: 8px;
      justify-items: center;

      @include mobile {
        padding: 16px 16px 32px 16px;
      }
    }
  }

  &__title_div {
    width: 100%;
    text-align: center;
    color: var(--font-color);
  }

  &__prize_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__prize_num_wrapper {
    font-size: 1.15rem;
    font-weight: 700;
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    color: var(--font-color);
    font-weight: bold;
    font-family: inherit;
    padding: 24px 16px;
    background-color: #A64242;
    box-shadow: 0 4px 0 0 rgba(166, 66, 66, 0.651);
    transition: all 0.3s;

    margin-top: 16px;

    &_text {
      font-size: 1.5rem;
    }

    @include tablet {
      padding: 24px;
    }

    &:hover {
      background-color: var(--dark-red-c);
      box-shadow: 0 4px 0 0 #c00d0da6, 0 0 4px 0 rgba(250, 23, 23, 0.651);
    }

    &_img {
      width: 32px;
      height: 32px;
      background-image: url('../public/assets/handpawn.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @include tablet {
        margin: 0;
      }
    }
  }

  &__cross {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    background-image: url('../public/assets/cross.svg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    cursor: pointer;

    @include tablet {
      height: 20px;
      width: 20px;
    }
  }

  &__prize_ico {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background-image: url('../public/assets/prizepool.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__prize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    margin: 8px 0 8px;
  }

  &__number_div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 700;
  }

  &__polygon_icon {
    margin: 0 6px;
    width: 20px;
    height: 20px;

    background-image: url('../public/assets/polygon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}