@import './mixins.scss';

.doughnut {
  &__wrapper {
    position: relative;
    width: 90%;
    max-width: 300px;
    margin: auto;

    @include mobile {
      max-width: 240px;
      margin: auto;
    }
  }

  &__percent {
    position: absolute;
    color: hsl(43, 39%, 93%);
    font-size: 2rem;
    font-weight: 700;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}