@import './mixins.scss';

.gas_disclaimer {
  display: flex;
  align-items: center;
  font-size: 14px;
  max-width: 560px;
  margin: auto;
  font-weight: normal;

  filter: invert(35%) sepia(100%) saturate(6.5);
  padding: 12px 0;

  &__ico {
    width: 50px;
    height: 50px;
    min-width: 50px;
    background-image: url('../public/assets/warning.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    padding: 0 8px;
  }
}