@import './mixins.scss';

.stats {
  display: flex;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0;
  width: 100%;
  max-height: 720px;
  width: 97%;
  margin: auto;

  @include tablet {
    display: unset;
    width: unset;
    margin: unset;
  }

&__wrapper {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(hsl(39, 7%, 22%), #302E2A);
  width: 100%;
  max-height: 640px;
  padding: 80px;
  border-radius: 8px;

  @include tablet {
    flex-direction: column;
    max-height: unset;
    padding: 48px;
  }

  @include mobile {
    padding: 24px 16px;
  }
}

  &__top_players, &__winners {
    display: flex;
    flex-direction: column;
    width: 35%;

    @include laptop {
      margin: 0 16px 24px;
    }

    @include tablet {
      margin: 16px 0 32px;
      width: unset;
    }

    @include mobile {
      margin: 24px 0 24px;

      &:last-child {
        margin: 32px 0 24px;
      }
      width: unset;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 12px;

  }

  &__heading {
    display: grid;
    grid-template-columns: minmax(70px, 1fr) minmax(50px, 1fr) 1fr;
    gap: 8px;
  }

  &__reward_heading, &__earned_heading, &__date_heading {
    text-align: center;
  }

  &__reward_data, &__earned_data, &__date_data {
    text-align: center;
  }

  &__address_data {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__heading {
    font-weight: bold;
    padding: 16px 0;
  }

  &_medal_ico, &_pedestal_ico {
    margin-right: 8px;
    width: 40px;
    height: 40px;
    background-image: url('../public/assets/medal.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &_pedestal_ico {
    background-image: url('../public/assets/pedestal.svg');
  }
}