@import './mixins.scss';

.youtube_embed {
  padding: 48px 0 80px 0;
  display: flex;
  flex-direction: column;
  margin: auto;

  @include tablet {
    padding: 32px 0 80px 0;
  }

  &__video {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__iframe_wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    box-shadow: 0 0 24px 4px rgba(0,0,0,0.3);
  }

  &__iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

